.box {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
button {
  width: 7rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  width: 5rem;
}

h1 {
  text-align: center;
}
.main-box2 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 50vh;
  align-items: center;
}

li {
  list-style-type: none;
  padding: 5px;
}
